# Question 1
Consider the following Python module:

a = 0 
def b():
global a
a = c(a)
def c(a):
return a + 2

After importing the module into the interpreter, you execute :
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your Banswer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b()
b()
b()
a

6

In [ ]:
value 6 is displayed when the last expression (a) is evaluated. First we declared varial a whic is qual to zero. In next step, 
we defined function called b ann in that function we declared a as a global variable so, we can use variable a and can change
its value inside the function. Afterthat, defined a = c(a) which  means defined fucnction c() and storing value in it and returns
in a. In function c(a), we return a+2. This makes a's value = 2 when we call b() for the first time, 4 when we call
it for the 2nd time and 6 when we call it for the 3rd time.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file :
>>> fileLength('midterm.py') 
284
>>> fileLength('idterm.py') 
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module> 
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength 
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
>>> fileLength('midterm.py') 
358
>>> fileLength('idterm.py') 
File idterm.py not found.

In [82]:
def filelength(r):
    try:
        file = open(r)
        x = file.readlines()
        file.close()
        print(len())
    except:
        print('File {} was not found'.format(r))
        
filelength('anjali.txt')

filelength('anjali.ipynb')

File anjali.txt was not found
File anjali.ipynb was not found

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents() 
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also :

a) extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b) supports method jump that takes number values dx and dy as input and movesthe kangaroo by dx units along the x-axis and by dy     units along the yaxis, and
c) overloads the __str__ operator so it behaves as shown below.

In [6]:
class Marsupial:
    def __init__(self):
        self.list1 =[]
    def put_in_pouch(self, item):
        self.list1.append(item)
    def pouch_contents(self):
        return self.list1
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
class Kangaroo(Marsupial):
    def __init__(self, xcord, ycord):
        Marsupial.__init__(self)
        self.x = xcord
        self.y = ycord
    
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [11]:
k.put_in_pouch('doll')
k.put_in_pouch('firestuck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firestuck', 'kitten']

In [12]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐3洧논
+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
>>> collatz(1) 
1
>>> collatz(10) 
10
5
16
8
4
2
1

In [14]:
def collatz(num):
    if num == 1:
        print(1)
    elif num % 2 == 0:
        print(num)
        collatz(num//2)
    else:
        print(num)
        collatz(3*num+1)
        
collatz(1)

1

In [27]:
collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3) 
11
>>> binary(9) 
1001

In [28]:
def binary(n):
    
    if (n > 1):
        binary(n >> 1)
    print(n & 1, end="")


binary(0)

0

In [29]:
binary(1)

1

In [30]:
binary(3)

11

In [31]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the 
document.Each heading should be indented asfollows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content) 
W3C Mission 
Principle

In [85]:
infile =open('anjali.txt')
content = infile.read()
infile.close()
from html.parser import HTMLParser
parser = HTMLParser()
parser.feed(content)

print(parser)

<html.parser.HTMLParser object at 0x0000011175A0AC10>

In [86]:
from html.parser import HTMLParser
class Headingparser(HTMLParser):
    A = False
    indent= False
    def handle_starttag(self,tag,attrs):
        if tag =='h1':
            self.A = True
        elif tag == 'h2':
            self.A=True
            self.indent = True
    def handle_data(self,data):
        if self.A:
            print(data,end="")

In [88]:
infile=open(r'anjali.txt')
content = infile.read()
infile.close()

hp = Headingparser()
hp.feed(content)

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [45]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):
        if tag =='a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links

In [46]:
url = 'https://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
collector.getLinks()

['http://reed.cs.depaul.edu/lperkovic/test2.html',
 'https://reed.cs.depaul.edu/lperkovic/test3.html']

In [47]:
import re
def analyze(url):
    
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()
    
    content = re.sub( r'<[^>]*>','',content).strip()
    
    for i in urls:
        print(" " + '{:45}'.format(i))
        analyze(i)
        
    return urls

In [48]:
def crawl3(url):
    print('{:45}'.format(url))
    analyze(url)
    
crawl3('https://reed.cs.depaul.edu/lperkovic/test1.html')

https://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
 http://reed.cs.depaul.edu/lperkovic/test4.html
 https://reed.cs.depaul.edu/lperkovic/test3.html
 https://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return :
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [91]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\anjal\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\anjal\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: six in c:\users\anjal\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\anjal\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\anjal\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\anjal\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\anjal\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: colorama in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: stack-data in c:\users\anjal\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\anjal\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\anjal\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anjal\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in c:\users\anjal\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\anjal\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\anjal\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)

In [96]:
import sqlite3

con = sqlite3.connect('ProblemSet2.db')
cur = con.cursor()
cur.execute("CREATE TABLE Rain (City text, Country text, season text, Temperature float, Rainfall float)")
con.commit()
con.close()
con =sqlite3.connect('ProblemSet2.db')
cur = con.cursor()
cur.execute("INSERT INTO Rain  VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO Rain  VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO Rain  VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO Rain  VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO Rain  VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO Rain  VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO Rain  VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO Rain  VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO Rain  VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO Rain  VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO Rain  VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO Rain  VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

con.commit()
con.close()

con = sqlite3.connect('ProblemSet2.db')
cur = con.cursor()
cur.execute('SELECT * FROM Rain')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [54]:
cur.execute("SELECT Temperature FROM Rain")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [55]:
cur.execute("SELECT DISTINCT City FROM Rain")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [56]:
cur.execute("SELECT * FROM Rain WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [57]:
cur.execute("SELECT * FROM Rain WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [58]:
cur.execute("SELECT City,Country,Season FROM Rain WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [59]:
cur.execute("SELECT City, Country FROM Rain WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [98]:
cur.execute("SELECT SUM(Rainfall) AS 'Total_Rainfall' FROM Rain WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [62]:
cur.execute("SELECT SUM(Rainfall) FROM Rain WHERE Season = 'Winter'")
cur.fetchall()

[(230.1,)]

In [63]:
cur.execute("SELECT SUM(Rainfall) FROM Rain WHERE Season = 'Spring'")
cur.fetchall()

[(192.29999999999998,)]

In [64]:
cur.execute("SELECT SUM(Rainfall) FROM Rain WHERE Season = 'Summer'")
cur.fetchall()

[(1706.5,)]

In [65]:
cur.execute("SELECT SUM(Rainfall) FROM Rain WHERE Season = 'Fall'")
cur.fetchall()

[(569.0,)]

In [97]:
cur.execute("SELECT Rainfall from Rain WHERE Season ='Spring'")
cur.fetchall()

[(16.2,), (169.6,), (6.5,)]

# Question 9
Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in listwords).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over',    4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase    and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more 
   characters.)

In [75]:
words =['The','quick', 'brown', 'fox','jumps','over','the','lazy','dog']

lsta = [i.upper() for i in words]
lsta

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [76]:
lstb = [i.lower() for i in words]
lstb

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [77]:
lstc = [len(i) for i in words]
lstc

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [78]:
lstd = [[i.upper(),i.lower(),len(i)] for i in words]
lstd

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [80]:
lste = [i for i in words if len(i) >= 4]
lste

['quick', 'brown', 'jumps', 'over', 'lazy']